html, body, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

input, textarea {
  font-family: Arial;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e6da4;
}

.login-form {
  background: #fff;
  width: 42%;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h2 {
    color: cadetblue;
    font-size: 2vw;
    left: 18px;
    position: relative;
  }
  input {
    width: 80%;
    position: relative;
    border: solid 1px #4267b2;
    margin: 0 14px 14px 14px;
    border-radius: 8px;
    color: #333333;
    padding: 0 10px;
    border: 1px solid #cdc3fc;
    height: 40px;
    font-size: 16px;
    outline: none !important;
    &:focus {
      border-bottom: solid 2px #4267b2;
      outline: none;
    }
  }
  .error {
    text-align: center;
    margin: 5px 0;
    padding: 5px 10px;
    color: #c92c43;
  }
}

.chat-container {
  color: #cac8ee;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

#side-bar {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: grid;
  justify-content: stretch;
  grid-template-rows: 8vh 5vh 5vh 1fr 8vh;
  .heading {
    box-sizing: border-box;
    padding: 18px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #4267b2;
  }
  .side-bar-select {
    display: flex;
    display: flex;
    justify-content: center;
    background: #e9ebee;
    justify-content: center;
    align-items: center;
  }
  .side-bar-users {
    height: 31px;
    width: 60px;
    background: cornflowerblue;
    color: #fff;
    border-radius: 0 18px 18px 0;
    &:hover {
      background-color: #6694a1;
    }
  }
  .side-bar-chats {
    width: 60px;
    height: 31px;
    border-radius: 18px 0 0 18px;
    color: #fff;
    background-color: #53d86a;
    color: white !important;
    min-width: 70px;
    font-family: inherit;
    color: black;
    &:hover {
      background-color: #3e8e41;
    }
  }
  .side-bar-select__option {
    height: 30px !important;
    float: left;
    width: 60px;
    height: 31px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &.active {
      box-shadow: 0 2px 0 0 #40a851 !important;
      color: black !important;
      background: #fff;
    }
  }
  .search {
    background: #4267b2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: black;
    padding-left: 15px;
    padding-right: 20px;
    .search-icon {
      margin-right: 15px;
      cursor: pointer;
    }
    input {
      width: 100%;
      background: #4267b2;
      flex-grow: 1;
      box-sizing: border-box;
      border: none;
      color: #cac8ee;
      &:focus {
        outline: none;
      }
    }
  }
}

input::placeholder {
  color: #b3b2ca;
  opacity: 0.6;
}

#side-bar {
  .search .plus {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 13px;
    height: 13px;
    &::after, &::before {
      content: "";
      position: absolute;
      background: #b3b2ca;
    }
    &::after {
      width: 16px;
      height: 2px;
      top: 5px;
    }
    &::before {
      width: 2px;
      height: 16px;
      top: -2px;
      left: 7px;
    }
  }
  .users {
    overflow-y: scroll;
    background: #e9ebee;
    flex-grow: 1;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #cac8ee;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: green;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #484d79;
    }
    .user {
      color: black;
      opacity: 0.5;
      align-items: center;
      display: flex;
      height: 55px;
      justify-content: flex-start;
      padding: 0 16px;
      &.active {
        background-color: darkgray;
      }
      &:hover {
        background: darkgray;
        &:not(.active) {
          cursor: pointer;
        }
      }
      .user-info {
        margin-left: 15px;
        flex-grow: 1;
        width: 100%;
        .last-message {
          font-size: 12px;
          opacity: 0.56;
        }
      }
      .new-message {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .current-user {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    background: #4267b2;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    .logout {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
      font-size: 2em;
    }
  }
}

.chat-header {
  background: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
  box-shadow: 0px 6px 5px -2px rgba(225, 225, 225, 0.7);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
  .user-info {
    align-items: center;
    display: flex;
    .user-name {
      margin-right: 10px;
    }
    .status {
      align-items: center;
      display: flex;
    }
  }
  .options {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 15%;
    svg {
      cursor: pointer;
    }
  }
}

.chat-room-container {
  height: 100%;
  width: 50%;
}

@media screen and (min-width: 600px) {
  #side-bar {
    width: 32.75%;
  }
  .chat-room-container {
    width: 67.25%;
  }
}

.chat-room {
  display: grid;
  grid-template: 8vh 1fr 8vh/100%;
  height: 100%;
  width: 100%;
  &.choose {
    align-items: center;
    justify-content: center;
    font-size: 2em;
  }
}

.thread-container {
  display: grid;
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #cac8ee;
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: green;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #484d79;
  }
  .thread {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #b3b2ca;
    background: #fff;
  }
}

.message-container {
  display: flex;
  justify-content: flex-start;
  min-height: 50px;
  margin: 2px 15px;
  animation: 0.65s ease-out 0s show;
  .time {
    order: 1;
  }
  .data {
    order: 2;
    height: 100%;
    margin-left: 25px;
  }
  .name {
    font-size: 0.65em;
    text-align: right;
  }
  .message {
    background: #fff;
    border-radius: 5px;
    border-top-left-radius: 0;
    box-sizing: border-box;
    color: #408db9;
    font-size: 17px;
    height: 100%;
    padding: 10px 15px;
    position: relative;
  }
  &.false .message {
    opacity: 0.6;
    padding: 10px 15px 0 15px;
  }
  .message::before {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #fff;
    border-style: solid;
    border-top-color: #fff;
    border-width: 4px;
    content: "";
    height: 0;
    left: -7px;
    position: absolute;
    top: 0;
    width: 0;
  }
  &.right {
    text-align: right;
    justify-content: flex-end;
    .time {
      order: 2;
      margin-left: 25px;
    }
    .data {
      margin-left: 0;
      order: 1;
    }
    .name {
      display: none;
    }
    .message {
      background: #89a1fc;
      color: #fff;
      border-top-right-radius: 0;
      border-top-left-radius: 5px;
      &::before {
        border-top-color: #89a1fc;
        border-left-color: #89a1fc;
        border-right-color: transparent;
        left: auto;
        right: -7px;
      }
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.typing-user {
  text-align: right;
  margin: 10px 15px;
}

.message-input {
  background: white;
  color: #484d79;
  box-sizing: border-box;
  .message-form {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.075);
    justify-content: space-between;
    .form-control {
      box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.075);
      resize: none;
      flex: 1;
      box-sizing: border-box;
      height: 100%;
      border: none;
      font-size: 16px;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #cac8ee;
      }
      &::-webkit-scrollbar {
        width: 5px;
        background-color: green;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #484d79;
      }
      &:focus {
        outline: none;
      }
    }
    .send {
      width: 20%;
      min-width: 58px;
      border-top-left-radius: 7px;
      box-sizing: border-box;
      font-size: 1.25em;
      text-align: center;
      border: none;
      height: 100%;
      color: #fff;
      background: #4267b2;
      transition: all 0.35s ease-out;
      &:disabled {
        opacity: 0.2;
        background: #4267b2;
      }
    }
  }
}

.submit-btn {
  margin-left: 14px;
  outline: none;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.menu {
  cursor: pointer;
}

.menuHeading {
  cursor: pointer;
  visibility: visible;
  position: relative;
  content: "\e079";
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  visibility: hidden;
  &:before {
    content: "\e079";
  }
}

.emoji-picker {
  position: absolute;
  bottom: 64px;
  width: 100%;
  .emoji {
    padding: 25px;
    background-size: 32px;
  }
}

.open-emoji-picker {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    background: lightblue;
  }
}