html, body, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

input, textarea {
  font-family: Arial;
}

.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e6da4;
}

.login-form {
  background: #fff;
  width: 42%;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login-form h2 {
  color: cadetblue;
  font-size: 4vw;
  left: 18px;
  position: relative;
}
.login-form input {
  width: 80%;
  position: relative;
  border: solid 1px #4267b2;
  margin: 0 14px 14px 14px;
  border-radius: 8px;
  color: #333333;
  padding: 0 10px;
  border: 1px solid #cdc3fc;
  height: 40px;
  font-size: 16px;
  outline: none !important;
}
.login-form input:focus {
  border-bottom: solid 2px #4267b2;
  outline: none;
}
.login-form .error {
  text-align: center;
  margin: 5px 0;
  padding: 5px 10px;
  color: #c92c43;
}

.chat-container {
  color: #cac8ee;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

#side-bar {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: stretch;
  grid-template-rows: 8vh 5vh 5vh 1fr 8vh;
}
#side-bar .heading {
  box-sizing: border-box;
  padding: 18px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #4267b2;
}
#side-bar .side-bar-select {
  display: flex;
  display: flex;
  justify-content: center;
  background: cadetblue;
  justify-content: center;
  align-items: center;
}
#side-bar .side-bar-users {
  height: 31px;
  width: 60px;
  background: cornflowerblue;
  color: #fff;
  border-radius: 0 18px 18px 0;
}
#side-bar .side-bar-users:hover {
  background-color: #6694a1;
}
#side-bar .side-bar-chats {
  width: 60px;
  height: 31px;
  border-radius: 18px 0 0 18px;
  color: #fff;
  background-color: #53d86a;
  color: white !important;
  min-width: 70px;
  font-family: inherit;
  color: black;
}
#side-bar .side-bar-chats:hover {
  background-color: #3e8e41;
}
#side-bar .side-bar-select__option {
  height: 30px !important;
  float: left;
  width: 60px;
  height: 31px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#side-bar .side-bar-select__option.active {
  box-shadow: 0 2px 0 0 #40a851 !important;
  color: black !important;
  background: #fff;
}
#side-bar .search {
  background: #4267b2;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-width: 1px 0;
  border-style: solid;
  border-color: black;
  padding-left: 15px;
  padding-right: 20px;
}
#side-bar .search .search-icon {
  margin-right: 15px;
  cursor: pointer;
}
#side-bar .search input {
  width: 100%;
  background: #4267b2;
  flex-grow: 1;
  box-sizing: border-box;
  border: none;
  color: #cac8ee;
}
#side-bar .search input:focus {
  outline: none;
}

input::placeholder {
  color: #b3b2ca;
  opacity: 0.6;
}

#side-bar .search .plus {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 13px;
  height: 13px;
}
#side-bar .search .plus::after, #side-bar .search .plus::before {
  content: "";
  position: absolute;
  background: #b3b2ca;
}
#side-bar .search .plus::after {
  width: 16px;
  height: 2px;
  top: 5px;
}
#side-bar .search .plus::before {
  width: 2px;
  height: 16px;
  top: -2px;
  left: 7px;
}
#side-bar .users {
  overflow-y: scroll;
  background: #fff;
  flex-grow: 1;
}
#side-bar .users::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cac8ee;
}
#side-bar .users::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
#side-bar .users::-webkit-scrollbar-thumb {
  background-color: #484d79;
}
#side-bar .users .user {
  color: #757575;
  font-size: 14px;
  position: relative;
  font-weight: 600;
  line-height: 1em;
  align-items: center;
  display: flex;
  height: 55px;
  justify-content: flex-start;
  padding: 0 16px;
}
#side-bar .users .user.active {
  color: #1a73e8;
}
#side-bar .users .user:hover .cust-icon {
  visibility: visible;
}
#side-bar .users .user:hover {
  cursor: pointer;
  background: #f5f5f5;
  text-decoration: none;
}
#side-bar .users .user .user-info {
  margin-left: 15px;
  flex-grow: 1;
  width: 100%;
}
#side-bar .users .user .user-info .last-message {
  font-size: 12px;
  opacity: 0.56;
}
#side-bar .users .user .new-message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#side-bar .current-user {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  background: #4267b2;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
#side-bar .current-user .logout {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.chat-header {
  background: #4267b2;
  border-bottom: 1px solid #29487d;
  color: #fff;
  box-shadow: 0px 6px 5px -2px rgba(225, 225, 225, 0.7);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
}
.chat-header .user-info {
  align-items: center;
  display: flex;
}
.chat-header .user-info .user-name {
  margin-right: 10px;
}
.chat-header .user-info .status {
  align-items: center;
  display: flex;
}
.chat-header .options {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  width: 15%;
}
.chat-header .options svg {
  cursor: pointer;
}

.chat-room-container {
  height: 100%;
  width: 0%;
}

@media screen and (min-width: 600px) {
  #side-bar {
    width: 32.75%;
  }

  .chat-room-container {
    width: 67.25%;
  }
}
.chat-room {
  display: grid;
  grid-template: 8vh 1fr 8vh/100%;
  height: 100%;
  width: 100%;
}
.chat-room.choose {
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.thread-container {
  display: grid;
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
}
.thread-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cac8ee;
}
.thread-container::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
.thread-container::-webkit-scrollbar-thumb {
  background-color: #484d79;
}
.thread-container .thread {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #b3b2ca;
  background: #fff;
}

.message-container {
  display: flex;
  justify-content: flex-start;
  min-height: 50px;
  margin: 2px 15px;
  animation: 0.65s ease-out 0s show;
}
.message-container .time {
  order: 1;
}
.message-container .data {
  order: 2;
  height: 100%;
  margin-left: 25px;
}
.message-container .name {
  font-size: 0.65em;
  text-align: right;
}
.message-container .message {
  background: #fff;
  border-radius: 5px;
  border-top-left-radius: 0;
  box-sizing: border-box;
  color: #408db9;
  font-size: 17px;
  height: 100%;
  padding: 10px 15px;
  position: relative;
}
.message-container.false .message{
  opacity: 0.6;
  padding: 10px 15px 0 15px;
}
.message-container .message::before {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #fff;
  border-style: solid;
  border-top-color: #fff;
  border-width: 4px;
  content: "";
  height: 0;
  left: -7px;
  position: absolute;
  top: 0;
  width: 0;
}
.message-container.right {
  text-align: right;
  justify-content: flex-end;
}
.message-container.right .time {
  order: 2;
  margin-left: 25px;
}
.message-container.right .data {
  margin-left: 0;
  order: 1;
}
.message-container.right .name {
  display: none;
}
.message-container.right .message {
  background: #89a1fc;
  color: #fff;
  border-top-right-radius: 0;
  border-top-left-radius: 5px;
}
.message-container.right .message::before {
  border-top-color: #89a1fc;
  border-left-color: #89a1fc;
  border-right-color: transparent;
  left: auto;
  right: -7px;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typing-user {
  text-align: right;
  margin: 10px 15px;
}

.message-input {
  background: white;
  color: #484d79;
  box-sizing: border-box;
}
.message-input .message-form {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  box-shadow: inset 0 1px 8px rgba(0,0,0,.075);
  justify-content: space-between;
}
.message-input .message-form .form-control {
  box-shadow: inset 0 1px 8px rgba(0,0,0,.075);
  resize: none;
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  border: none;
  font-size: 16px;
}
.message-input .message-form .form-control::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cac8ee;
}
.message-input .message-form .form-control::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
.message-input .message-form .form-control::-webkit-scrollbar-thumb {
  background-color: #484d79;
}
.message-input .message-form .form-control:focus {
  outline: none;
}
.message-input .message-form .send {
  width: 20%;
  min-width: 58px;
  border-top-left-radius: 7px;
  box-sizing: border-box;
  font-size: 1.25em;
  text-align: center;
  border: none;
  height: 100%;
  color: #fff;
  background: #4267b2;
  transition: all 0.35s ease-out;
}
.message-input .message-form .send:disabled {
  opacity: 0.2;
  background: #4267b2;
}

.submit-btn {
  margin-left: 14px;
  outline: none;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.menu {
  cursor: pointer;
}

.menuHeading {
  cursor: pointer;
  visibility: visible;
  position: relative;
  content: "\e079";
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  visibility: hidden;
}
.menuHeading:before {
  content: "\e079";
}
.emoji-picker {
  position: absolute;
  bottom: 64px;
  width: 100%;
}
.emoji-picker .emoji {
  padding: 25px;
  background-size: 32px;
}

.open-emoji-picker {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.open-emoji-picker:hover{
  background: lightblue;
}
.open-emoji-picker span{
  font-size: 31px;
}
.chat-list-items{
  max-width: 220px;
  min-width: 120px;
  padding: 13px 18px 11px;
  line-height: 3rem;
  list-style-type: none;
  color: #000;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  outline: none;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 37px;
  border-radius: 2px;
}
.cust-icon{
  padding: 7px;
  visibility: hidden;
}
.list-item:hover{
  cursor: pointer;
  background: #f5f5f5;
  text-decoration: none;
}